body{
	background-image: url('../image/background-8.jpg');
	background-size: cover;
	margin: 0px;
	padding: 0px
}
.container{
	width: 1000px;
	margin: 30px auto;
	border: 1px solid
}

.header{
	background-color: red;
	height: 100px
}

.content{
	height: 500px
}

.left{
	height: 200px;
	background-color: #0fffef;
	width: 300px;
	float: left;
}
.right{
	height: 200px; 
	width: 700px;
	background-color: blue;
	float: left;
}
.left-2{
	height: 300px;
	background-color: violet;
	width: 600px;
	float: left
}
.right-2{
	height: 300px;
	background-color: yellow;
	width: 400px;
	float: left
}
.footer{
	height: 100px;
	background-color: green
}





.menu li{
	list-style-type: none;
	float: left;
	padding: 20px 30px;
	background-color: blue;
	color: #fff;
	text-transform: uppercase;
	border-left: 1px solid #fff
}
.menu li:hover{
	cursor: pointer;
}

.menucon{
	display: none;
	position: absolute;
	margin-left: -60px;
	z-index: 1
}


.menu li:hover .menucon{
	display: block;
}

.menu li .menucon li{
	float: none;
	border-left: none;
	border-bottom: 1px solid #fff;
	background-color: red;

}


/*  .menucon{
 display:none;
 position:absolute; 
 background-color:#63C;
 list-style-type:none;
}
.menucon li{
 border:1px solid #333;
 padding:10px 52px;
 font-size:14px;
  
}
.menu >li:hover .menucon{
 display:block;
 top:56px;
 left:-0px;
 position:absolute
}
 */


.hinh1 img{
	position: relative;
	top: 100px;
	left: 100px;
}

.hinh2 img{
	position: absolute;
	top: 150px;
	left: 150px
}
.hinh3 img{
	position: absolute;
	top: 200px;
	left: 200px
}
.hinh4 img{
	position: absolute;
	top: 250px;
	left: 250px
}
