body{
	margin: 0px;
	background-color: #f3f3f3
}
.container{
	margin: auto;
	width: 1230px;
}

.sanpham{
	float: left;
	background-color: #fff;
	margin: 5px;
	width: 400px;

}

.hinh, .mota{
	float: left;
}

.hinh img{
	margin: 10px ;
}

.thongtin{
	height: 230px
}
.ten, .gia{
	font-size: 25px;
	font-weight: bold;
	padding: 10px 20px
}
.gia{
	color: red
}
.km{
	color: red;
	font-family: "Tahoma"
}